body {
	background-color: #708090;
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

#Home {
	width: 300px;
	float: center;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 1em;
}

h1, p {
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	line-height: 4.5em;
}

a {
	display: block;
	color: #3B3B3B;
	text-align: center;
	width: 300px;
}

a:hover {
	background-color: #008000;
	color: #fff;
}

ul a {
	border-bottom: solid;
	background: #008dde;
}